<!DOCTYPE html>
{% load staticfiles %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <form method="POST">
      {{form.as_p}}
      {% csrf_token %}
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
</body>
</html>
