<!DOCTYPE html>
{% load staticfiles %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  {% if message %}
    <table>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
      </tr>
      {% for user in message %}
        <tr>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
  <p>No user</p>
  {% endif %}
  <input type="submit" class="btn btn-danger">
  <img src="{% static "images/image.jpg" %}" alt="nitra">
</body>
</html>
